
# Node (VERY IMPORTANT)
frontend/node_modules/
**/node_modules/

# Python
venv/
__pycache__/
*.pyc

# Env
.env

# OS
.DS_Store

# Build
dist/
build/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.cache/
*.log
